{% extends "layout.html" %}

{% block content %}
<h1>Welcome to Your Journal</h1>
<p>Start journaling your thoughts and track your mood.</p>

<h2>Previous Entries</h2>
<div class="kanban-board">
    {% for date, entries in grouped_entries.items() %}
    <div class="kanban-column">
        <h3>{{ date }}</h3>
        <ul>
            {% for entry in entries %}
            <li>
                <strong>Mood:</strong> {{ entry.mood }} <br>
                <strong>Entry:</strong> {{ entry.entry }}
                <form action="{{ url_for('main.delete', entry_id=loop.index0) }}" method="post" style="display:inline;">
                    <button type="submit" class="delete-button"><i class="fas fa-trash"></i></button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
