{% extends "layout.html" %}

{% block content %}
<h1>Welcome to Your Journal</h1>
<p>Start journaling your thoughts and track your mood.</p>

<div class="tabs">
    {% for date, entries in grouped_entries.items() %}
    <button class="tablinks {% if active_date == date %}active{% endif %}" onclick="openTab(event, '{{ date }}')">{{ date }}</button>
    {% endfor %}
</div>

{% for date, entries in grouped_entries.items() %}
<div id="{{ date }}" class="tabcontent {% if active_date == date %}active{% endif %}">
    <h2>{{ date }}</h2>
    <ul>
        {% for entry in entries %}
        <li>
            <strong>Mood:</strong> {{ entry.mood }} <br/>
            <strong>Entry:</strong> {{ entry.entry }}
            <form action="{{ url_for('main.delete', entry_id=entry.id) }}" method="post" style="display:inline;">
                <input type="hidden" name="date" value="{{ date }}">
                <button type="submit" class="delete-button"><i class="fas fa-trash"></i></button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

<script>
// Function to open a specific tab by clicking on it
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Open the active tab on page load
document.addEventListener("DOMContentLoaded", function() {
    var activeTab = document.querySelector(".tablinks.active");
    if (activeTab) {
        activeTab.click();
    } else {
        document.getElementsByClassName("tablinks")[0].click();
    }
});
</script>
{% endblock %}
